---
import "../styles/global.css";
import Seo from "../components/Seo.astro";
import Header from "./Header.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
		<!--<Seo title={title} description={description} />-->
	</head>
	<body class="flex flex-col min-h-screen">
		<Header/>
		<main class="flex-1 bg-teal-600 dark:bg-red-700">
		<slot />
		</main>
		<Footer/>
	</body>
</html>

<script is:inline src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>