---
import fs from "fs/promises";
import path from "path";

const { name, class: className = "w-6 h-6" } = Astro.props;

const iconPath = path.resolve("icons", `${name}.svg`);
let svg = "";

try {
  svg = await fs.readFile(iconPath, "utf8");
} catch (e) {
  svg = `<svg class="${className}" fill="none" stroke="currentColor" viewBox="0 0 24 24"><text x="0" y="15" font-size="12">404</text></svg>`;
}
---

<div class={className} innerHTML={svg}></div>
