---

import {SiteConfig} from "../config/SiteConfig";
import Social from "../components/Social.astro";---

<footer class="bg-gray-800 text-white p-4 text-center">
    <p>&copy; {new Date().getFullYear()} {SiteConfig.shortName}. Усі права захищені.</p>
    <p>{SiteConfig.contact.address}</p>
    <Social />
</footer>